version: "3.9"
services:
  db:
    image: postgres
    volumes:
      # - "./.persistent-storage/database:/var/lib/postgresql/data"
      - "./database/src/sql:/docker-entrypoint-initdb.d"
    environment:
      - POSTGRES_USER=payments
      - POSTGRES_PASSWORD=payments
    ports:
      - 5432:5432
  adminer:
    image: adminer
    ports:
      - 8080:8080
  search:
    image: elasticsearch:8.2.0
    ports:
      - 9300:9300
      - 9200:9200
    environment:
      - discovery.type=single-node
      - ELASTIC_PASSWORD=payments
      - xpack.security.enabled=true
      - xpack.security.enrollment.enabled=true
  frontend:
    image: payments-frontend
    build: ./frontend
    volumes:
      - './frontend:/app'
    ports:
      - 3000:3000
  backend:
    image: payments-backend
    build: ./backend
    volumes:
      - './backend/src:/app'
    ports:
      - 8000:8000